<h1>Hello <%= @user.user_id %> </h1>

Name: <%= @user.full_name %>
Address: <%= @user.street_address %>
City: <%= @user.city %>
State: <%= @user.state %>
Zip Code: <%= @user.postal_code %>
Country: <%= @user.country %>
Email: <%= @user.email_address %>
